---
- name: Install fisher
  shell:
    executable: fish
    cmd: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
    creates: ~/.config/fish/fish_plugins

- name: Install nvm
  shell:
    executable: fish
    cmd: fisher install jorgebucaran/nvm.fish
    creates: ~/.config/fish/conf.d/nvm.fish

- name: Install pure theme
  shell:
    executable: fish
    cmd: fisher install pure-fish/pure
    creates: ~/.config/fish/conf.d/pure.fish

- name: Check if fish folder is provided
  delegate_to: localhost
  stat:
    path: "{{ fish_folder_path }}"
  register: fish_folder

- name: Populate fish folder
  when: fish_folder.stat.exists
  copy: 
    src: "{{ fish_folder_path }}"
    dest: ~/.config

- name: Set default shell
  become: true
  when: default_shell == "fish"
  shell:
    executable: fish
    cmd: chsh -s /bin/fish {{ ansible_user }}